@import "tailwindcss";

@theme {
  /* Daftarkan nama animasinya di sini */
  --animate-bounce-slow: bounce-slow 4s ease-in-out infinite;
  --animate-marquee: marquee 30s linear infinite;

  /* Buat keyframes pergerakannya di sini */
  @keyframes bounce-slow {
    0%, 100% { transform: translateY(-5%); }
    50% { transform: translateY(5%); }
  }

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}